<h2 piwik-enriched-headline data-graph-id="QoS.cacheHitGraph">{{ 'QoS_CacheHit'|translate }}</h2>

<h3>{{ 'QoS_vnpt'|translate }}</h3><br>
{{ graphCacheHitVnpt|raw }}

<h3>{{ 'QoS_vinaphone'|translate }}</h3><br>
{{ graphCacheHitVinaphone|raw }}

<h3>{{ 'QoS_viettel'|translate }}</h3><br>
{{ graphCacheHitViettel|raw }}

<h3>{{ 'QoS_fpt'|translate }}</h3><br>
{{ graphCacheHitFpt|raw }}

<h3>{{ 'QoS_mobiphone'|translate }}</h3><br>
{{ graphCacheHitMobifone|raw }}