<div class="row">
	<div class="col-md-12">
		{% for isp in cacheHitGraphs %}
			<div class="categoryEntry" style="clear:both">
				<h2>{{ isp.title }}</h2>

				{{ isp.graph|raw }}

			</div>
		{% endfor %}
	</div>
	{#<div class="col-md-3"></div>#}
</div>
<div class="row">
	<div class="col-md-6">
		<h2>{{ "QoS_TopUrlHit"|translate }}</h2>
        {% include "@QoS/_urlReport.twig" %}
		<h2>{{ "QoS_HitRatioByIsp"|translate }}</h2>
        {#{% include "@QoS/_hitRatioByIsp.twig" %}#}
	</div>

	<div class="col-md-6">
		<h2>{{ "QoS_HitByBrowsers"|translate }}</h2>
        {% include "@QoS/_browserReport.twig" %}

		<h2>{{ 'QoS_HitByCity'|translate }}</h2>
        {% include "@QoS/_cityReport.twig" %}
	</div>
</div>