<div class="rơw">
    <div class="col-md-6">
        {{ graphOverviewBw|raw }}

        {{ graphErrorCode300|raw }}

        {{ graphIsp|raw }}
    </div>

    <div class="col-md-6">
        {{ graphErrorCode500|raw }}

        {{ graphHttpCode|raw }}

        {{ graphCountry|raw }}
    </div>
</div>