<div class="row">
	<h2 piwik-enriched-headline data-graph-id="QoS.overviewGraph">{{ 'QoS_Overview'|translate }}</h2>

    {{ graphOverview|raw }}

	<h2 class="visitsSummaryReportTitle">{{ 'QoS_Report'|translate }}</h2>
    {% include "@QoS/_sparklines.twig" %}

	{#<div class="col-md-6">#}
		{#<div class="col-md-12">#}
			{#{{ graphOverviewBw|raw }}#}
			{#{% include "@QoS/_overviewBandwidth.twig" %}#}
		{#</div>#}
		{#<div class="col-md-12">#}
			{#{% include "@QoS/_overviewCacheHit.twig" %}#}
		{#</div>#}
		{#<div class="col-md-12">#}
			{#{{ graphIsp|raw }}#}
		{#</div>#}
	{#</div>#}

	{#<div class="col-md-6">#}
		{#<div class="col-md-12">#}
			{#{% include "@QoS/_overviewSpeed.twig" %}#}
			{#{% include "@QoS/_overviewUserSpeed.twig" %}#}
		{#</div>#}
		{#<div class="col-md-12">#}
		{#{{ graphHttpCode|raw }}#}
		{# {% include "@QoS/_overviewHttpCode.twig" %} #}
		{#</div>#}
		{#<div class="col-md-12">#}
		{#{{ graphCountry|raw }}#}
		{#</div>#}
	{#</div>#}
</div>