<div class="rơw">
    <div class="col-md-6">
        <div class="col-md-12">
        {{ graphOverviewBw|raw }}
        </div>
        <div class="col-md-12">
        {{ graphErrorCode300|raw }}
        </div>
        <div class="col-md-12">
        {{ graphIsp|raw }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="col-md-12">
            <span>- Spped</span>
            <div class="box-overview">
                <h2>456</h2>
            </div>
        </div>
        <div class="col-md-12">
        {{ graphHttpCode|raw }}
        </div>
        <div class="col-md-12">
        {{ graphCountry|raw }}
        </div>
    </div>
</div>