<div class="rơw">
    <div class="col-md-6">
        <div class="col-md-12">
        {{ graphOverviewBw|raw }}
        </div>
        <div class="col-md-12 box-overview">
            <span>- Cache Hit</span>
            <div>
                <h2>{{ graphCacheHit|raw }}</h2>
            </div>
        </div>
        <div class="col-md-12">
        {{ graphIsp|raw }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="col-md-12 box-overview">
            <span>- Speed</span>
            <div>
                <h2>{{ graphSpeed|raw }}</h2>
            </div>
        </div>
        <div class="col-md-12">
        {{ graphHttpCode|raw }}
        </div>
        <div class="col-md-12">
        {{ graphCountry|raw }}
        </div>
    </div>
</div>